{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="login">
    <article class="login_body">
        <h3><b>Log In</b></h3>
        <form action="/login" method="post">
            <input type="email" id="login_email" name="email" placeholder="something@surveyapp.com" required><br><br>
            <div class="pass">
                <input id="inPass" type="password" name="password" placeholder="Password" required>
                <img class="show_hide" id="show_hideL" src="{{ url_for('static', filename='images/show.svg') }}">
                <img class="hide_show" id="hide_showL" src="{{ url_for('static', filename='images/hide.svg') }}">
            </div><br>
            <p id="invalid_tag">*Invalid Email or Password</p>
            <input id="login_submit" type="submit" value="Login">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </form>
    </article>
    <article class="l-s-welcome">
        <div class="l-s-1">
        </div>
        <div class="l-s-content">
            <h2>WELCOME BACK</h2>
            <p>Sign in to create a <span>survey</span>, <span>form</span>, <span>questionaire</span> or to participate in any one.</p>
            <p id="signup">Don't have an account? <a href="{{ url_for('signup') }}">Create one</a></p>
        </div>
    </article>
    <script>

    </script>
</div>
{% endblock %}
