{% extends "base.html" %}
{% block title %} Response Page {% endblock %}
{% block content %}
<div class="response">
    <div class="response_search">
        <h2>Search survey</h2>
        <input id="search_survey" name="search" type="text" placeholder="Enter survey ID">
        <button id="search_survey_btn">Search</button>
    </div>
    <table>
        <th colspan="4" id="survey_title">Title</th>
        <tr>
            <th id="table_header_response_id">Id</th>
            <th id="table_header_survey_id">Survey Id</th>
            <th id="table_header_response">Response</th>
            <th id="table_header_created_at">Created At</th>
        </tr>

    </table>
    <div class="pager">

    </div>
    <div class="modal">
        <div class="insert">

        </div>
    </div>
    <script src="../static/scripts/responses.js">
    </script>
</div>
{% endblock %}